<f:layout name="Default"/>

<f:section name="content">
	<h1>Contact Details</h1>
	<ul class="list-group">
		<li class="list-group-item"><strong>Name:</strong> {contact.name}</li>
		<li class="list-group-item"><strong>Email:</strong> {contact.email}</li>
		<li class="list-group-item"><strong>Phone:</strong> {contact.phone}</li>
		<li class="list-group-item"><strong>Address:</strong> {contact.address}</li>
	</ul>
	<f:link.action action="index" class="btn btn-secondary mt-3">Back to List</f:link.action>
</f:section>
